NODE_ENV=production
PORT=replace_with_backend_port
CORS_ORIGIN=replace_with_allowed_frontend_origins

DB_HOST=replace_with_database_host
DB_PORT=replace_with_database_port
DB_USER=replace_with_database_user
DB_PASSWORD=replace_with_database_password
DB_NAME=replace_with_database_name

JWT_ACCESS_SECRET=replace_with_long_random_access_secret
JWT_REFRESH_SECRET=replace_with_long_random_refresh_secret
JWT_ACCESS_EXPIRES_IN=replace_with_access_token_expiry
JWT_REFRESH_EXPIRES_IN_DAYS=replace_with_refresh_token_days
JWT_REMEMBER_REFRESH_EXPIRES_IN_DAYS=replace_with_remember_refresh_token_days


ADMIN_FULL_NAME=replace_with_admin_full_name
ADMIN_MOBILE=replace_with_admin_mobile
ADMIN_EMAIL=replace_with_admin_email
ADMIN_PASSWORD=replace_with_admin_password

OTP_PROVIDER=textspeed
OTP_AUTH_KEY=replace_with_textspeed_auth_key_if_required
OTP_API_KEY=replace_with_textspeed_api_key
OTP_API_URL=replace_with_textspeed_api_url
OTP_ROUTE=replace_with_textspeed_route_if_required
OTP_SENDER_ID=replace_with_dlt_sender_id
OTP_TEMPLATE_ID=replace_with_dlt_template_id
OTP_TEMPLATE_TEXT=replace_with_approved_dlt_template_text
OTP_EXPIRES_IN_MINUTES=replace_with_otp_expiry_minutes
OTP_RESEND_COOLDOWN_SECONDS=replace_with_otp_resend_cooldown_seconds
OTP_MAX_ATTEMPTS=replace_with_otp_max_verify_attempts
OTP_MAX_SENDS_PER_WINDOW=replace_with_otp_max_sends_per_window
OTP_RATE_LIMIT_WINDOW_MINUTES=replace_with_otp_rate_limit_window_minutes

RAZORPAY_KEY_ID=replace_with_razorpay_key_id
RAZORPAY_KEY_SECRET=replace_with_razorpay_key_secret
RAZORPAY_WEBHOOK_SECRET=replace_with_razorpay_webhook_secret
